@charset "UTF-8";
/* CSS Document */

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    /* border: solid 1px #333;
    background: #efefef; */
    border-radius: 10px;
}

#mainContent {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        grid-column-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

.logo {
    letter-spacing: -3px;
}

p {
    font-family: 'Ubuntu', 'sans serif', 'times new roman';
    color:#333;
    line-height: 25px;
    letter-spacing: -0.5px;
}

img {
    max-width: 388px;
}

h2 {
    background-color: rgba(255, 255, 255, 0.7);;
    text-align: center;
    position: relative;
    font-family: 'roboto', 'sans serif', 'times new roman';
    font-weight: bolder;
    letter-spacing: 1px;
}

#article_1_main h2 {
    top: 100px;
    margin-top: -60px;
    font-size: 40px;

}

#article_2_athletes h2 {
    top: 250px;
    margin-top: -60px;
    color: green;
}

#article_3_performance h2 {
    top: 250px;
    margin-top: -60px;
    color:purple;
}

#article_4_lifestyle h2 {
    top: 580px;
    margin-top: -50px;
    color: red;
}

#article_5_taste h2 {
    top: 250px;
    margin-top: -50px;
    color: peru;
}

#article_6_eco_friendly h2 {
    top: 270px;
    margin-top: -70px;
    color: pink;
}

#article_7_trust h2 {
    top: 570px;
    margin-top: -50px;
    color:yellow;
}

#article_8_future h2 {
    top: 250px;
    margin-top: -50px;
    color:green;
}

#article_9_summary h2 {
    top: 570px;
    margin-top: -50px;
    color:purple;
}

/*test section

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/